a:hover {
  text-decoration: underline;
}

hr {
  background-color: inherit;
}

.alert {
  width: 80%;
  margin: auto auto 0.5em;
}

.navbar-brand img {
  width: 20%;
  border-radius: 50%;
}

/* Admin */
.admin {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.admin > div {
  margin-bottom: 1em;
}

.admin > div,
.admin-nav {
  margin-top: 18px;
}

.admin-nav {
  width: 15%;
  background-color: white;
  color: #18bc9b;
  font-size: large;
}

.admin-nav .active {
  background-color: #eef4f7;
}

.latest-container {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 15%);
}

.latest-container > div {
  width: calc(100% / 2);
}

.latest {
  background-color: #eef4f7;
}

.item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1em;
  padding-bottom: 0.5em;
}

.item-options-btn {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-delete {
  width: 26%;
}

.latest-users-container {
  margin-right: 0.5em;
}

.latest-posts-container {
  margin-left: 0.5em;
}

.latest-container > .w-100 {
  margin-left: 0;
}

.latest-users-container > div,
.latest-posts-container > div {
  height: calc(100% - 76px);
}

.latest-title {
  padding: 1em 2em 1em;
  color: #2b3e50;
  font-size: large;
}

.latest-item {
  height: calc(100% / 3);
  padding-left: 2em;
  padding-top: 1em;
}

.latest-item:hover {
  background-color: white;
}

.latest-item h5 {
  font-size: medium;
}

.latest-item p {
  word-break: break-all;
}

.item-options-btn a {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  color: white;
}

.item-date p {
  margin: 0.375rem 0.75rem;
}

.invalid-comments {
  width: calc(100% - 15%);
  margin-left: 15%;
  background-color: #eef4f7;
  padding-bottom: 1em;
}

.invalid-comment {
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 1em;
}

.invalid-comment:hover {
  background-color: white;
}

.invalid-comment h5 {
  font-size: medium;
}


@media (max-width: 900px) {
  hr {
    margin-bottom: 0;
  }

  .masthead {
    padding-top: calc(10rem + 74px);
    padding-bottom: 1rem;
  }

  .admin {
    flex-direction: column;
  }

  .admin-nav {
    width: 50%;
    margin: auto;
  }

  .admin-nav > ul {
    flex-direction: row !important;
    margin-top: 18px;
  }

  .admin > div {
    width: 95%;
    margin: auto;
  }

  .admin .form-container {
    width: 95%;
    margin: auto auto 1em;
  }

  .latest-container {
    flex-direction: column;
    width: 95%;
    margin: auto;
  }

  .latest-container > div {
    width: 100%;
    text-align: center;
    margin: 1em auto auto;
  }

  .latest-title {
    text-align: center;
    font-size: 1.5rem;
  }

  .latest-item {
    padding-left: 0;
    border-bottom: dotted 1px darkgrey;
  }

  .latest-item:last-child {
    border: none;
  }

  .item-info {
    margin-left: 0.5em;
  }

  .invalid-comments {
    margin-top: 1em !important;
  }
}

.table {
  padding-top: 1em;
}

.table thead {
  position: sticky;
  top: 0;
}

.table-container {
  background-color: #eef4f7;
  padding: 0 0 2em;
  width: calc(100% - 15%);
  max-height: 500px;
}

.admin-table {
  width: 80%;
  margin: 1em auto auto;
  height: 100%;
}

.admin-table tbody {
  overflow-y: auto;
}

.admin-table tbody tr td {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-container {
  padding: 1em 4em;
  background-color: #eef4f7;
  border-radius: 15px;
  margin-top: 1em;
}


.admin .form-container {
  width: calc(100% - 15%);
}

.comments-form-container > .form-container {
  border-radius: 15px 15px 0 0;
}

.form {
  width: 80%;
  margin: 2em auto 0 auto;
  padding: 1em 4em 4em 4em;
}

@media (max-width: 767px) {
  .table-container {
    padding-left: 1em;
  }

  .container {
    padding-right: 0;
    padding-left: 0;
  }

  .team-boxed > .container {
    padding: 0 1em;
  }

  .navbar-brand {
    width: 50%;
  }

  .navbar-brand img {
    width: 60%;
  }

  .form-container {
    padding: 0;
  }

  .form {
    width: 100%;
    margin: auto;
    padding: 1em;
  }

  /* Footer */
  footer .row {
    margin: 0;
  }

  footer .row .col-lg-3:last-child {
    margin-top: 3rem;
  }
}

.presentation-container {
  padding: 2em 2em;
  background-color: #baddd3;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.presentation {
  width: 80%;
  margin: auto;
  padding: 1em 4em;
}

.presentation h2 {
  color: #5a6963;
}

.presentation p {
  color: #323734;
}

@media (max-width: 900px) {
  .presentation-container {
    padding: 0.5em;
  }

  .presentation {
    width: 100%;
    padding: 0.5em;
  }
}

.post-container {
  padding: 4em;
  background-color: #a2dbce;
}

.post {
  max-width: 80%;
  margin: auto;
  padding-bottom: 2em;
  word-break: break-all;
}

.post h3 {
  padding-bottom: 1em;
  font-size: xx-large;
  text-transform: uppercase;
  color: #81918c;
}

.post h4 {
  color: #47515a;
  font-size: larger;
  padding-bottom: 4em;
}

.post h4::first-letter,
.post p::first-letter {
  text-transform: capitalize;
}

.post .small-text {
  font-size: medium;
  color: #57656e;
}

.comments-form-container {
  border-radius: 15px;
}


.comments-container {
  background-color: #eef4f7;
  padding: 4em;
  border-radius: 0 0 15px 15px;
}

@media (max-width: 900px) {
  .post {
    min-width: 95%;
  }

  .form-container {
    padding: 1em;
  }

  .comments-container {
    padding: 1em;
  }
}

.comment {
  border: 0.5px solid grey;
  border-radius: 15px;
  padding: 1em;
  margin-top: 1em;
}

.comment-validate,
.option-edit,
.option-delete {
  font-size: small;
}

.option-delete {
  color: red;
}

.fa-readme:hover {
  color: lightblue;
}

.fa-trash-alt:hover {
  color: red;
}

.fa-edit:hover {
  color: lightgreen;
}

/* error page */
.mainbox {
  background-color: #eef4f7;
  margin: auto;
  height: 600px;
  position: relative;
}

.error-code-mobile {
  display: none;
}

.err {
  color: darkgrey;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11rem;
  position: absolute;
  left: 29%;
  top: 8%;
}

.fa-spin {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 18%;
  color: darkgrey;
}

.err2 {
  color: darkgrey;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11rem;
  position: absolute;
  left: 61%;
  top: 8%;
}

.msg {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6rem;
  position: absolute;
  left: 16%;
  top: 45%;
  width: 75%;
  margin-top: 1em;
}


@media (max-width: 900px) {
  .error-code {
    display: none;
  }

  .error-code-mobile {
    display: block;
    width: 50%;
    margin: auto;
    top: unset;
    left: unset;
    position: unset;
  }
}

/* Card template */
.team-boxed {
  color: #313437;
  background-color: #eef4f7;
}

.team-boxed p {
  color: #7d8285;
}

.team-boxed h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

.post p:first-child {
  font-size: medium;
}

@media (max-width: 767px) {
  .team-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.team-boxed .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.team-boxed .intro p {
  margin-bottom: 0;
}

.team-boxed .people {
  padding: 50px 0;
}

.team-boxed .item {
  text-align: center;
}

.team-boxed .item .box {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 15px;
  height: calc(100% - 30px);
}

.team-boxed .item .name {
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 8px;
  color: inherit;
  height: 99px;
}

.team-boxed .item .title {
  font-weight: bold;
  margin: 1em;
  color: #d0d0d0;
  letter-spacing: 2px;
  font-size: 13px;
  height: 130px;
}

.team-boxed .item .title::first-letter {
  text-transform: capitalize;
}

.team-boxed .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.team-boxed .item img {
  max-width: 160px;
}

.team-boxed .social {
  font-size: 18px;
  color: #a2a8ae;
}

.team-boxed .social a {
  color: inherit;
  margin: 0 10px;
  display: inline-block;
  opacity: 0.7;
}

.team-boxed .social a:hover {
  opacity: 1;
}
